*
{
  margin: 0;
  padding: 0;
  boarder: 0;
}
h1 {
  text-align: center;
  font-size: 575%
  color: #4A4444
  text-transform: uppercase;
  letter-spacing: 3%
  margin 45% 0;
}
h2 {
  text-align: center;
  font-size: 275%
  background-color: #
  letter-spacing: 1%
  
}
  */--- Start parallax ---*/
.parallax {
   background: url("
}
*/--- End parallax ---*/
