*
{
  margin: 0;
  padding: 0;
  boarder: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
h1 {
  text-align: center;
  font-size: 275%;
  font-family: helvetica;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 45% 0;
}
h2 {
  text-align: center;
  font-size: 275%;
  background-color: #E5E5E5;
  letter-spacing: 1%;
  
}
  */--- Start parallax ---*/
.parallax {
  background: url("");
  
}
*/--- End parallax ---*/
